.brand-banner {
    max-width: 1280px;
    margin: 120px auto;
    display: grid;
    grid-template-columns: 1.1fr 1fr;
    gap: 70px;
    align-items: center;
}

.brand-banner-image {
    border-radius: 28px;
    overflow: hidden;
}

.brand-banner-image img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.brand-banner-content span {
    color: #ab956d;
    letter-spacing: 3px;
    font-size: .85rem;
    font-weight: 600;
}

.brand-banner-content h2 {
    font-family: var(--font-display);
    font-size: 4rem;
    line-height: 1.1;
    margin: 25px 0;
}

.brand-banner-content p {
    color: #66635d;
    font-size: 1.1rem;
    max-width: 450px;
    line-height: 1.6;
}

.brand-banner-content button {
    margin-top: 35px;
    background: #1d1d1b;
    color: white;
    padding: 16px 30px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
}

@media (max-width: 900px) {

    .brand-banner {
        grid-template-columns: 1fr;
        margin: 70px 20px;
    }

    .brand-banner-image img {
        height: 450px;
    }

    .brand-banner-content h2 {
        font-size: 2.5rem;
    }
}